.DS_Store

*.xcscmblueprint
xcuserdata

/archive
/build

/Configuration

/Carthage
/Cartfile.private
/Cartfile.resolved

/.env
/Xcode/Links

/fastlane/*.xml
/fastlane/last-nightlies-success-git-commit-hash.txt

/vendor
/.bundle