.DS_Store

*.xcscmblueprint
xcuserdata

archive
build

Configuration

Carthage
Cartfile.private
Cartfile.resolved

.env
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

last-nightlies-success-git-commit-hash.txt
