.DS_Store

*.xcscmblueprint
xcuserdata

/archive
/build

/Configuration

/Carthage
/Cartfile.private
/Cartfile.resolved

/.env
/Xcode/Links

/fastlane/*.xml
/fastlane/*commit-hash.txt

/Scripts/generate-icons-caches

/vendor
/.bundle