github "ibireme/YYWebImage" "1.0.5"
github "SnapKit/Masonry" "v1.1.0"
github "SRGSSR/FXReachability" "1.3.2_srg2"
github "SRGSSR/srganalytics-ios" "d05742bbfb54e89b83c1db533a15f42341c8001d"
github "SRGSSR/srgappearance-ios" "1.1.8"