github "SRGSSR/FXReachability" "1.3.2_srg4"
github "SRGSSR/srganalytics-apple" "7fa81a2a80ee6653d821da886aaaf3a70ea8612d"
github "SRGSSR/srgappearance-apple" "2.0.0"
github "SRGSSR/YYWebImage" "1.0.5_srg2"
