PRODUCT_BUNDLE_IDENTIFIER = ch.srgssr.$(COMMON__BUNDLE_IDENTIFIER)$(COMMON__BUNDLE_IDENTIFIER_SUFFIX)
PRODUCT_NAME = SRGLetterbox-demo

GCC_PREPROCESSOR_DEFINITIONS[config=Release_AppCenter] = APPCENTER=1
GCC_PREPROCESSOR_DEFINITIONS[config=Nightly] = NIGHTLY=1
GCC_PREPROCESSOR_DEFINITIONS[config=Nightly_AppCenter] = NIGHTLY=1 APPCENTER=1
GCC_PREPROCESSOR_DEFINITIONS[config=Debug] = DEBUG=1

SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Release_AppCenter] = APPCENTER
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Nightly] = NIGHTLY
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Nightly_AppCenter] = NIGHTLY APPCENTER
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Debug] = DEBUG

COMMON__BUNDLE_IDENTIFIER = SRGLetterbox-demo
COMMON__BUNDLE_IDENTIFIER[config=Nightly] = SRGLetterbox-store
COMMON__BUNDLE_IDENTIFIER[config=Release] = SRGLetterbox-store

COMMON__BUNDLE_IDENTIFIER_SUFFIX[config=Nightly] = .nightly
COMMON__BUNDLE_IDENTIFIER_SUFFIX[config=Nightly_AppCenter] = .nightly
COMMON__BUNDLE_IDENTIFIER_SUFFIX[config=Debug] = .debug

COMMON__URL_SCHEME = letterbox$(COMMON__URL_SCHEME_SUFFIX)

COMMON__URL_SCHEME_SUFFIX[config=Nightly] = -nightly
COMMON__URL_SCHEME_SUFFIX[config=Nightly_AppCenter] = -nightly-appcenter
COMMON__URL_SCHEME_SUFFIX[config=Debug] = -debug
